@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}
.lines {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    &_resume {
        margin: 25px auto 0 auto;
    }
    &_skills {
        margin: 0 auto;
    }
    
    
}
@media screen and (max-width: 1024px) {
    .conteiner {
        width: 968px;
    }
}
@media screen and (max-width: 768px) {
    .conteiner {
        width: 750px;
    }
}  
@media screen and (max-width: 425px) {
    .conteiner {
        width: 290px;
    }
} 


@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';