.about {
    margin-top: 120px;
    &_grid {
        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: 280px 280px;
        column-gap: 70px;
        row-gap: 40px;

    }
    &_elem-1 {
        grid-row: 1/3;
    }
    &_elem-2 {
        margin-top: 10px;
    }
    &_fz16 {
        position: relative;
        @include before_circle;
        padding-left: 12px;
    }
    &_fz14 {
        margin-top: 20px;
    }
    &_elem-3 {
        display: grid;
        grid-template-columns: 260px 260px;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px 50px;
    }
    
    &_elems {
        position: relative;
        @include before_circle;
        svg {
            position: absolute;
            margin: 7px 0 0 18px;
        }
        &_title {
            width: 260px;
            font-weight: bold;
            padding-left: 60px;
        }
        &_subtitle {
            margin-top: 6px;
            font-weight: 500;
            width: 260px;
            padding-left: 60px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .about_grid {
        column-gap: 17px;
    }
    .about_elem-3 {
        column-gap: 20px;
    }
    .about_elems_subtitle {
        width: 230px;
    }
}
@media screen and (max-width: 768px) {
    .about {
        margin-top: 30px;
        &_grid {
            display: block;
        }
        &_foto {
            img {
                display: block;
                margin: 0 auto ;
            }
        }
        &_elem-2 {
            width: 460px;
            margin: 0 auto;
            padding-top: 30px;
        }
        &_elem-3 {
            padding-top: 20px;
            margin-left: 44%;
            transform: translateX(-50%);
        }
    }
}
@media screen and (max-width: 425px) {
    .about {
        margin-top: 30px;
        &_grid {
            display: block;
        }
        &_foto {
            img {
                width: 250px;
                height: 340px;
            }
        }
        &_elem-2 {
            width: 260px;
            margin-left: 8px;
        }
        &_elem-3 {
            display: block;
            width: 260px;
            margin-left: 0;
            padding-top: 30px;
            transform: translateX(10px);
        }
        &_elem {
            padding-bottom: 30px;
        }
    }
}

   
